ion-col{
    height: 100%;
    .close-row{
        height: 40px;
    }
    .close {
        display: block;
        fill: currentColor;
        stroke: currentColor;
        height: 40px;
        width: 40px;
        
    }
}